#count {
    display: inline;
    font-weight: bold;
    margin-left: 1rem;
}

#logo {
    background: url('../assets/holberton-logo.jpg');
    background-size: 200px 200px;
    height: 200px;
    width: 200px;
}
